@charset "UTF-8";

/* Geral */

* {
    margin: 0;
    padding: 0;
}

/* Header */

header {
    display: flex;
    background-color: whitesmoke;
    border-bottom: 1px solid #ccc;
    height: 8vh;
    width: 100vw;
}
.header-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-navegation {
    display: none;
}

/* Main */

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main-container {
    width: 70%;
}